USE [master]
GO
/****** Object:  Database [SQLEXPORT]    Script Date: 07.09.2018 10:26:19 ******/
CREATE DATABASE [SQLEXPORT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SQLEXPORT', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SQLEXPORT.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SQLEXPORT_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SQLEXPORT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SQLEXPORT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SQLEXPORT]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 07.09.2018 10:26:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Par1] [varchar](50) NULL,
	[Par2] [varchar](50) NULL,
	[Par3] [varchar](50) NULL,
	[Par4] [varchar](50) NULL,
	[Par5] [varchar](50) NULL,
	[Par6] [varchar](50) NULL,
	[Par7] [varchar](50) NULL,
	[Datum] [date] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_Datum]  DEFAULT (getdate()) FOR [Datum]
GO
USE [master]
GO
